body {
  margin: 0 auto;
  width: auto;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: black;
  min-height: 100px;
}

.header-photo {
  padding-top: 25px;
}

h1 {
  color: white;
}

h1, h2 {
  margin: 0;
  padding-top: 25px;
  padding-left: 10px;
}

section {
  min-height: 150px;
}

.content {
  padding-left: 35px;
}



.main-content {
  background-color: yellow;
  padding-left: 150px;
  padding-right: 150px;
}

.main-footer {
  color: white;
  background-color: #000000;
  height: 80px;
}

.contact-list {
  display: flex;
  margin-top: 0;
  padding-left: 0;
  justify-content: space-around;
  padding-top: 30px;  
  
}

.contact-list-item {
  list-style: none;
} 

.border {
  border: 1px solid grey;
}